@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import 'tailwindcss';

@theme {
  --color-primary: #8b1d07;
  --color-primary-Disable: #8b3d07;

  --color-blue-5: #01121f;
  --color-blue-4: #021a30;

  --color-grey-2: #343b41;
  --color-grey-1: #868e96;
  --color-grey-0: #f8f9fa;

  --default-font-family: 'Inter', sans-serif;

  --shadow-drop: 0.25rem 2rem -0.5rem #00000040;
}
